body{
  background-color: black;
  text-align: center;
}
.main{
  color: white;
  font-family: verdana;
  font-weight: normal;
  font-size: 50px
}
.main_sub{
  color: white;
  font-family: verdana;
  font-weight: 300300;
  font-size: 42px
}
.secondary{
  color: gray;
  font-family: verdana;
  font-size: 21px
}
.link{
  color: aquamarine;
  font-size: 16px
}
.copyright{
  text-align: right;
  color: gray;
}
